---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./boardOfDirectors.scss";
---

<div class="bod">
  <Wrapper>
    <div class="bod-title">
      <h2>Board of Directors</h2>
    </div>
    <div class="bod-bios">
      {
        Astro.props.data.directors.map((person) => {
          return (
            <div class="bod-bios-bio">
              <div class="bod-bios-bio-image">
                <Image
                  src={person.image.sourceUrl}
                  alt={person.name}
                  inferSize={true}
                />
              </div>
              <div class="bod-bios-bio-name">
                <h3>{person.name}</h3>
                <p>{person.title}</p>
              </div>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</div>
