---
import { Image } from "astro:assets";
import Headline from "../shared/Headline.astro";
import Wrapper from "../shared/Wrapper.astro";
import "./getInvolved.scss";
console.log(Astro.props.data);
---

<div id="get-involved-section" class="involved">
  <Wrapper>
    <div class="involved-title">
      <Headline hlstyle="one">How to get involved</Headline>
    </div>

    <div class="involved-blocks">
      {
        Astro.props.data.blocks.map((block, index) => {
          return (
            <div class={`involved-block involved-block-${index + 1}`}>
              <div class="involved-block-image">
                <div class="involved-block-image-inner">
                  <Image
                    src={block.image.sourceUrl}
                    alt={block.image.altText}
                    inferSize={true}
                  />
                </div>
              </div>
              <div class="involved-block-contentwrap">
                <div class="involved-block-content">
                  <h3>{block.title}</h3>
                  <div set:html={block.content} />
                </div>

                <div class="involved-block-link">
                  <a href={block.pageLink.uri}>{block.linkText}</a>
                </div>
              </div>
              <div class="involved-block-icon">
                <Image
                  src={block.icon.sourceUrl}
                  alt={block.icon.altText}
                  inferSize={true}
                />
              </div>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const triggerContainer = document.querySelector("#get-involved-section");
  const title = document.querySelector(".involved-title");
  const setps = document.querySelectorAll(".involved-block");

  if (triggerContainer && title && setps) {
    gsap.fromTo(
      title,
      { autoAlpha: 0, y: 100 },
      {
        duration: 1,
        autoAlpha: 1,
        y: 0,
        ease: "power2.out",
        scrollTrigger: {
          start: "top 30%",
          markers: false,
          trigger: triggerContainer,
        },
      },
    );

    gsap.fromTo(
      setps,
      { autoAlpha: 0, y: 200 },
      {
        delay: 0.5,
        duration: 1,
        autoAlpha: 1,
        y: 0,
        ease: "power2.out",
        scrollTrigger: {
          start: "top 30%",
          markers: false,
          trigger: triggerContainer,
        },
        stagger: {
          each: 0.5,
        },
      },
    );
  }
</script>
