---
import { Image } from "astro:assets";
import Headline from "../shared/Headline.astro";
import Wrapper from "../shared/Wrapper.astro";
import "./getInvolved.scss";
---

<div class="involved">
  <Wrapper>
    <div class="involved-title">
      <Headline hlstyle="one">How to get involved</Headline>
    </div>

    <div class="involved-blocks">
      {
        Astro.props.data.blocks.map((block, index) => {
          return (
            <div class={`involved-block involved-block-${index + 1}`}>
              <div class="involved-block-image">
                <div class="involved-block-image-inner">
                  <Image
                    src={block.image.sourceUrl}
                    alt={block.image.altText}
                    inferSize={true}
                  />
                </div>
              </div>
              <div class="involved-block-contentwrap">
                <div class="involved-block-content">
                  <h3>{block.title}</h3>
                  <div set:html={block.content} />
                </div>

                <div class="involved-block-link">
                  <a href={block.pageLink.uri}>{block.linkText}</a>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</div>
