---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import Headline from "../shared/Headline.astro";
import "./iconPoints.scss";
---

<div class="donate-icons">
  <Wrapper>
    {
      Astro.props.data.points.map((point) => {
        return (
          <div
            class={`donate-icons-point donate-icons-point-${point.backgroundColour}`}
          >
            <div class="donate-icons-point-icon">
              <div class="donate-icons-point-icon-inner">
                <Image
                  src={point.icon.sourceUrl}
                  alt={point.icon.altText}
                  inferSize={true}
                />
              </div>
            </div>

            <div class="donate-icons-point-title">
              <Headline ele="h2" hlstyle="three">
                {point.title}
              </Headline>
            </div>

            <div class="donate-icons-point-content" set:html={point.content} />
          </div>
        );
      })
    }
  </Wrapper>
</div>
