---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import Headline from "../shared/Headline.astro";
import "./iconPoints.scss";
---

<div id="donate-icons-section" class="donate-icons">
  <Wrapper>
    {
      Astro.props.data.points.map((point) => {
        return (
          <div
            class={`donate-icons-point donate-icons-point-${point.backgroundColour}`}
          >
            <div class="donate-icons-point-icon">
              <div class="donate-icons-point-icon-inner">
                <Image
                  src={point.icon.sourceUrl}
                  alt={point.icon.altText}
                  inferSize={true}
                />
              </div>
            </div>

            <div class="donate-icons-point-title">
              <Headline ele="h2" hlstyle="three">
                {point.title}
              </Headline>
            </div>

            <div class="donate-icons-point-content" set:html={point.content} />
          </div>
        );
      })
    }
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const triggerContainer = document.querySelector("#donate-icons-section");
  const setps = document.querySelectorAll(".donate-icons-point");

  if (triggerContainer && setps) {
    gsap.fromTo(
      setps,
      { autoAlpha: 0, y: 200 },
      {
        duration: 1,
        autoAlpha: 1,
        y: 0,
        ease: "power2.out",
        scrollTrigger: {
          start: "top 30%",
          markers: false,
          trigger: triggerContainer,
        },
        stagger: {
          each: 0.25,
        },
      },
    );
  }
</script>
