---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./heroIntro.scss";
---

<div class="donatenow-hero-intro">
  <div class="donatenow-hero-intro-image">
    <div class="donatenow-hero-intro-image-wrapper">
      <Image
        src={Astro.props.data.image.sourceUrl}
        alt={Astro.props.data.image.altText}
        inferSize={true}
      />
    </div>
  </div>

  <div class="donatenow-hero-intro-content">
    <Wrapper>
      <h1 set:html={Astro.props.data.title} />
      <div
        class="donatenow-hero-intro-content-para"
        set:html={Astro.props.data.content}
      />
    </Wrapper>
  </div>
</div>
