---
import { Image } from "astro:assets";
import Wrapper from "../components/shared/Wrapper.astro";
import "./footer.scss";

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
			query footerQuery {
        footerOptions {
          footerOptions {
            donateUrl
            contactEmail
            contactNumber
            contactAddress
            newsletterContent
            newsletterUrl
            facebookUrl
            instagramUrl
            xTwitterUrl
            memberLogos {
              url
              logo {
                altText
                sourceUrl
              }
            }
          }
        }
      }
        `,
  }),
});

const {
  data: { footerOptions },
} = await response.json();
---

<footer class="main-footer">
  <Wrapper classes="main-footer-wrap">
    <div class="main-footer-contact">
      <div class="main-footer-contact-donate">
        <a href={footerOptions.footerOptions.donateUrl}>Donate Now</a>
      </div>
      <div class="main-footer-contact-info">
        <p>
          <a href={footerOptions.footerOptions.contactEmail}
            >Contact us via email here</a
          >
        </p>
        <p>
          Phone <a href={footerOptions.footerOptions.contactNumber}
            >{footerOptions.footerOptions.contactNumber}</a
          >
        </p>
      </div>
      <div
        class="main-footer-contact-address"
        set:html={footerOptions.footerOptions.contactAddress}
      />
    </div>
    <div class="main-footer-newsletter">
      <p>{footerOptions.footerOptions.newsletterContent}</p>
      <p><a href={footerOptions.footerOptions.newsletterUrl}>Sign-up</a></p>
    </div>
    <div class="main-footer-social">
      <div class="main-footer-social-icons">
        <p>Where to find us</p>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </div>
      <div class="main-footer-social-members">
        <p>Proude Member of</p>
        <ul>
          {
            footerOptions.footerOptions.memberLogos.map((logo) => {
              return (
                <li>
                  <a href={logo.url}>
                    <Image
                      src={logo.logo.sourceUrl}
                      alt={logo.logo.altText}
                      inferSize={true}
                    />
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </Wrapper>
</footer>
