---
import MainNav from "../components/Navigation/MainNav/MainNav.jsx";
import MainLogo from "../components/Logo/MainLogo.astro";
import MobileNav from "../components/Navigation/MobileNav/MobileNav";
import "./header.scss";

const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/graphql`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
        query headerQuery {
            menu(id: "Main Menu", idType: NAME) {
              menuItems(first: 99999) {
                    nodes {
                        label
                        uri
                        parentId
                        childItems {
                            nodes {
                                label
                                uri
                            }
                        }
                    }
                }
            }

            mobile: menu(id: "Main Mobile", idType: NAME) {
              menuItems(first: 99999) {
                    nodes {
                        label
                        uri
                        parentId
                        childItems {
                            nodes {
                                label
                                uri
                            }
                        }
                    }
                }
            }

            logoOptions {
                logoOptions {
                    mainLogo {
                      altText
                      sourceUrl
                    }
                }
            }
        }
    `,
  }),
});
const {
  data: {
    menu: { menuItems },
    mobile,
    logoOptions: { logoOptions },
  },
} = await response.json();
---

<header class="header">
  <div class="header-logo">
    <h1>
      <a href="/">
        <MainLogo data={logoOptions} />
      </a>
      <span>The Airdrie and District Community Foundation</span>
    </h1>
  </div>
  <div class="header-navigation">
    <MainNav
      client:only="react"
      menuItems={menuItems.nodes}
      pathname={Astro.url.pathname}
    />
  </div>
  <div class="header-mobile">
    <MobileNav
      client:only="react"
      mainMenu={mobile}
      mainLogo={logoOptions}
      pathname={Astro.url.pathname}
    />
  </div>
</header>
