---
import "../styles/styles.scss";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { baseData } from "../data/siteData";
import CookiePopup from "../components/shared/CookiePopup.jsx";

import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";

const {
  metaImg = null,
  metaTitle = null,
  metaDescription = null,
} = Astro.props;

const title = metaTitle ? metaTitle : baseData.title;
const description = metaDescription ? metaDescription : baseData.description;
const imgSrc = metaImg ? metaImg : baseData.siteImg;
const baseUrl = Astro.url ? Astro.url : baseData.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="image" content={imgSrc} />
    <link rel="canonical" href={baseUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- OpenGraph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={baseUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imgSrc} />
    <meta property="og:image:alt" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:locale" content={`en_US`} />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={baseUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imgSrc} />
    <meta name="twitter:image:alt" content={description} />
    <meta
      name="twitter:creator"
      content={"Airdrie and District Community Foundation."}
    />

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-9GDJHM0JWK"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9GDJHM0JWK");
    </script>

        <!-- NEW  -->
    <!-- 🟣 Microsoft Clarity Tracking Code -->
    <script is:inline type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "teukm1hdfw");
    </script>
  </head>
  <body>
    <Header />
    <slot />
    <CookiePopup client:only="react" />
    <Footer />
    <!-- 🟣 LinkedIn Insight Tag -->
    <script is:inline type="text/javascript">
      _linkedin_partner_id = "8022044";
      window._linkedin_data_partner_ids =
        window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script is:inline type="text/javascript">
      (function (l) {
        if (!l) {
          window.lintrk = function (a, b) {
            window.lintrk.q.push([a, b]);
          };
          window.lintrk.q = [];
        }
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";
        b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);
      })(window.lintrk);
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display:none;"
        alt=""
        src="https://px.ads.linkedin.com/collect/?pid=8022044&fmt=gif"
      />
    </noscript>
  </body>
</html>
